.login__btn{
    position: absolute;
    border-radius: 15%;
    left: 70%;
    top: 2%;
    width: 130px;
    height: 50px;
    background-color: lightcoral;
    border: none;
    color: white;
    font-size: 25px; 
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
  
}

.logn__formpage{
    text-decoration: none;
    color: white;
}

.logn__index{
    text-decoration: none;
    color: white;
}

/*Responsive Code*/

  @media (max-width:750px){
    .login__btn{
    position: absolute;
    width: 90px;
    }
}
