@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}
 
.container__footer {
 
	border-radius: 5px;
 
	overflow: hidden;
	width: 400px;
	max-width: 100%;
    margin: 8% 0 20% 5%;
}

 
 

.form__footer {
	padding: 10px 30px;	
}

.form-control__footer {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control__footer label {
	display: inline-block;
	margin-bottom: 5px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 5% 25% 5%  0;
}

.email__footer {
    border: none;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.asunto__footer{
    border-radius: 4px;
    border: none;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control__footer input:focus {
	outline: 0;
	border-color: #777;
}

.form-control__footer.success input {
	border-color: #2ecc71;
}

.form-control__footer.error input {
	border-color: #e74c3c;
}

.form-control__footer i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control__footer.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control__footer.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control__footer small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control__footer.error small {
	visibility: visible;
}

.contactame__form {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
    font-family: 'Chakra Petch', sans-serif;
	font-size: 20px;
	padding: 10px;
    margin-left: 25%;
	margin-top: 20px;
	width: 50%;
}

/*Responsive Code  Start Here*/

@media (max-width:750px){

 .container__footer{
    margin-left: 0;

 }
 
 .form-control__footer label{
    margin-left: 25%;
 }

     }